.main{
    height: 43.4vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.heading{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-for-output-page{
    height: 95%;
    width: 100%;
    display: flex;
}

.report{
    border: 1px solid green;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.report-default-template{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2;
}

.report-dynamic-template{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ai-corner{
    border-top: 1px solid green;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ai-corner-heading{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

.ai-prompt-box{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-response-box{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 768px){
    
    .main-content-for-output-page{
        flex-direction: column;
    }

    .report{
        width: 100%;
    }

    .report-default-template{
        height: 40%;
    }

    .report-dynamic-template{
        height: 60%;
    }

    .ai-corner{
        width: 100%;
    }

    .ai-corner-heading{
        height: 20%;
    }

    .ai-prompt-box{
        height: 40%;
    }

    .ai-response-box{
        height: 40%;
    }
    
}
